@media only screen and (min-width: 540px) {

	header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    h1 {
        font-weight: 400;
        margin-left: 0;
        text-align: left;
    }
	.navigation {
		display: flex;
		text-align: right;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: left;
	}
	#menu {
		display: none;
	}
}

@media (max-width: 740px) {
    
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    h2 {
        grid-column: span 1;
    }
    
}

